.box{
    height: 500px;
    width: 400px;
    padding: 20px;
    margin: 0;
    background-color: rgb(34, 34, 51);
    color: white;
    position:absolute;
    top:35%;
    left:44%;
    margin-top:-50px; 
    margin-left:-100px;
    border-radius: 12px;
    
}
header{
    text-align: center;
    font-size: 50px;
}
*{
    margin: 0;
    padding: 0;
}
img{
    height: 150px;
    width: 400px;
    border-radius: 12px;
}
h3{
    text-align: center;
    font-size: 30px;
}
label{
    font-size: xx-large;
    text-align: center;
    color: rgb(180, 219, 247);
    font-weight: bolder;
    padding-left: 70px;
   
}
input{
    height: 35px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 12px;
    color: rgb(180, 219, 247);
    
}
form{
    padding: 50px;
}
*{
    background-image: url(cdc-mSfnuqwcQ-Q-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
#Submit{
    width: 20vw;
    height: 10vh;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 12px;

}