.box{
    height: 800px;
    padding: 20px;
    margin: 0;
    background-color: rgb(34, 34, 51);
    color: white;
     margin-top:10px; 
    text-align: center;
    border-radius: 12px;
    
}
header{
    text-align: center;
    font-size: 50px;
}
*{
    margin: 0;
    padding: 0;
}
img{
    height: 150px;
    width: 400px;
    border-radius: 12px;
}
h3{
    text-align: center;
    font-size: 60px;
}
label{
    font-size: xx-large;
    color: rgb(180, 219, 247);
    font-weight: bolder;
   
   
}
input{
    height: 35px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(180, 219, 247);
    border-radius: 12px;
    
}
form{
    padding: 0px;
    text-align: left;
}
#Submit{
    width: 20vw;
    height: 10vh;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(180, 219, 247);
    border-radius: 12px;

}
*{
    background-image: url(cdc-mSfnuqwcQ-Q-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
